Proyecto Anime_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Biblioteca.Anime">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Titulo" type="xs:string"/>
            <xs:element name="Autor" type="xs:string"/>
            <xs:element name="Genero" type="xs:string"/>
            <xs:element name="Fecha.de.Lanzamiento" type="xs:integer"/>
          
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>